.hero {
    background-image: url(../../images/background-image.jpg);
    height: 100vh;
    width: 100%;
    // width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
}

.hero p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.2em;
    font-family: sans-serif;
    font-weight: lighter;
    padding-top: 500px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.about-content h1 {
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-size: 2em;
}

.about {
    background-image: url(../../images/background-image.jpg);
    height: 80vh;
    width: 100%;
    // width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
    opacity: .8;
}

.about-content {
   text-align: center;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

 .about p {
  font-size: 2.3em;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
 }

.features {
    background-image: url(../../images/background-image.jpg);
    height: 80vh;
    width: 100%;
    // width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
    opacity: .9;
}

.features-container {
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
}

// .features h1 {
//     text-align: center;
//     padding-top: 50px;
//     font-size: 2em;
//     font-family: 'Roboto', sans-serif;

// }

.features-container h2 {
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
}

.features-wines img{
width: 600px;
}

.features-accomm img{
width: 600px;
 }

.features-dining img{
width: 600px; 
}

.features-wines h2{
position: absolute;
top: 2510px;
left: 87px;
// text-align: center;
padding: 30px 166px;
background-color: rgba(255, 255, 255, 0.8)
}

.features-accomm h2{
    position: absolute;
    top: 2510px;
    left: 722px;
    // text-align: center;
    padding: 30px 105px;
    background-color: rgba(255, 255, 255, 0.8)
    }

 .features-dining h2{
        position: absolute;
        top: 2510px;
        left: 1355px;
        // text-align: center;
        padding: 30px 163px;
        background-color: rgba(255, 255, 255, 0.8)
        }

        ///////////NOTE - USE OF LEFT:PX - NOT IDEAL, TRY FLEX



.background {
    background-image: url(../../images/background-image.jpg);
    height: 300px;
    background-position: 100%;
    // background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
    opacity: .8;
}



.link-facebook:hover {
    color: #9aa168;
    cursor: pointer;
}

.link-instagram:hover {
    color: #9aa168;
    cursor: pointer;
}




/////////VINYARDS PAGE


// .hero-vineyards {
//     background-image: url(../../images/background-image.jpg);
//     height: 30vh;
//     width: 100%;
//     // width: 100%;
//     background-position: 100%;
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-attachment: fixed; 
// }


.vineyards {
    background-image: url(../../images/background-image.jpg);
    height:80vh;
    width: 100%;
    // width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
    opacity: .9;
}

.vineyards-content {
    background-color: rgba(255, 255, 255, 0.8);
}
  

.vineyards-vineyards {
    display: flex;
    justify-content: space-around;
    height: 550px;
    // padding-top: 70px;
    padding-bottom: 100px;
}

.vineyards-content img {
    width: 500px;
    // padding-bottom: 100px;
}

.vineyards h1 {
    padding-top: 190px;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.vinyards-content-home h2 {
    position: absolute;
    top: 510px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 177px;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}

.vinyards-content-home h2:hover {
    color: #9aa168; 
    cursor: pointer;
}

.vinyards-content-damsteep h2 {
    position: absolute;
    top: 510px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 158px;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #4a4a4a;
}

.vinyards-content-damsteep h2:hover {
    color: #9aa168; 
    cursor: pointer;
}

.vinyards-content-netherwood h2 {
    position: absolute;
    top: 510px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 147px;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
.vinyards-content-netherwood h2:hover {
    color: #9aa168; 
    cursor: pointer;
}





/////////CONTACT-FORM

// .hero-contact {
//     background-image: url(../../images/background-image.jpg);
//     height: 30vh;
//     width: 100%;
//     // width: 100%;
//     background-position: 100%;
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-attachment: fixed; 
    
// }


// .hero-contact {
//     background-image: url(../../images/background-image.jpg);
//     height: 30vh;
//     width: 100%;
//     // width: 100%;
//     background-position: 100%;
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-attachment: fixed; 
    
// }        

.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
}

.contact-page h1{
    font-size: 2em;
    text-align: center;
    padding: 200px 0px 100px 0px;
    font-family: 'Roboto', sans-serif;

}

.contact {
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 500px;
    
}

.contact-contacts {
    display: flex;
    padding: 0px 100px;
}

.contact-left {
padding: 20px 50px;
}

.contact-right {
padding: 20px 50px;
}

.left-tastingroom {
    padding-bottom: 100px;
}

.right-office {
    padding-bottom: 100px;
}



.contact-form {
    padding-top: 5px;
    width: 500px;
    // display: flex;
    // justify-content: center;
}

.field {
    padding: 10px 0px;
}

.contact-form .checkbox{
padding-bottom: 20px;
font-family: 'Roboto', sans-serif;

}



////////////////////DAMSTEEP PAGE



.damsteep {
    background-image: url(../../images/background-image.jpg);
    height: 120vh;
    width: 100%;
    // width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
    opacity: .8;

    }


.damsteep-content {
    // height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin-left: 150px;
    padding: 50px;
    padding-top: 200px;
}

.damsteep-content h1 {
    font-size: 1.8em;
    // font-family: 'Roboto', sans-serif;
//   font-size: 2.3em;
  padding-bottom: 50px;
  font-family: 'Merriweather', serif;
//   font-weight: 300;
}

.content-para-one {
    font-size: 1.6em;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.content-para-two {
    font-size: 1.6em;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


///MODULE
@import './module/footer';
@import './module/nav';
@import './module/buttons';





@media only screen and (max-width: 600px) {

.background {
    display: none;
}

    .hero {
        background-image: url(../../images/background-image.jpg);
        // height: 100vh;
        width: 100%;
        // width: 100%;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed; 
    }

    .hero p {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: lighter;
        padding-top: 400px;
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        // position: fixed;
    }

    .about-content h1 {
        text-align: center;
        padding: 30px 0px 30px 0px;
        font-size: 2em;
    }
    
    // .about {
    //     background-image: url(../../images/background-image.jpg);
    //     height: 80vh;
    //     width: 100%;
    //     // width: 100%;
    //     background-position: 100%;
    //     // background-repeat: no-repeat;
    //     background-size: 100%;
    //     background-attachment: fixed; 
    //     opacity: .8;
    // }
    
    .about-content {
       text-align: center;
        padding: 100px;
        background-color: white;
        // height: 1500px;
    }
    
     .about p {
      font-size: 1.5em;
      padding-bottom: 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
     }

    //  .features {
    //     background-image: url(../../images/background-image.jpg);
    //     height: 80vh;
    //     width: 100%;
    //     // width: 100%;
    //     background-position: 100%;
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     background-attachment: fixed; 
    //     opacity: .9;
    // }
    
    .features-container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        padding-left: 50px;
        background-color: white;
    }
    
    // .features h1 {
    //     text-align: center;
    //     padding-top: 50px;
    //     font-size: 2em;
    //     font-family: 'Roboto', sans-serif;
    
    // }
    
    .features-container h2 {
        font-size: 1.5em;
        font-family: 'Merriweather', serif;
    }
    
    .features-wines img{
    width: 600px;
    }
    
    .features-accomm img{
    width: 600px;
     }
    
    .features-dining img{
    width: 600px; 
    }
    
    .features-wines h2{
    // position: absolute;
    top: 50px;
    // left: 87px;
    // text-align: center;
    // padding: 30px 166px;
    background-color: rgba(255, 255, 255, 0.8)
    }
    
    .features-accomm h2{
        position: absolute;
        top: 2510px;
        left: 722px;
        text-align: center;
        padding: 30px 105px;
        background-color: rgba(255, 255, 255, 0.8)
        }
    
     .features-dining h2{
            position: absolute;
            top: 2510px;
            left: 1355px;
            text-align: center;
            padding: 30px 163px;
            background-color: rgba(255, 255, 255, 0.8)
            }
    
    
  }